/* CSS Standard Rules */

html {
    box-sizing: border-box;
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    margin: 0;
    min-height: 100vh;
}

  *,
  *::before,
  *::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

    a:hover,
    a:focus {
        text-decoration: underline;
        color: #F9FBFB;
    }

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

ul, ol {
    list-style: none;
    padding-left: 0;
}

ul.typographic {
    list-style: initial;
    padding-left: inital;
}

  /* For 'accessibility text'. */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
}

  /* Project Specific Rules */

body {
    color: #2A2E44;
    background-color: #F9FBFB;
    font-family: 'Lato', sans-serif;
}
/* push nav bar links to right (bootstrap override) */
.mr-auto, .mx-auto {
    margin-right: 5px!important;
    margin-left: auto;
}
.navbar {
    margin-bottom: 35px;
    background-color: #DB4949;
    color: #F9FBFB;
    box-shadow: rgba(0, 0, 0, 0.42) 0px 10px 20px -12px, rgba(0, 0, 0, 0.12) 0px 3px 20px 0px, rgba(0, 0, 0, 0.2) 0px 8px 10px -5px;
}
.navbar-brand {
    font-family: 'Rubik', serif;
    font-size: 2rem;
}
.nav-item {
    margin-left: 1rem;
}
.navbar-toggler {
    border-color: #F9FBFB;
    padding: 0.55rem 0.75rem;
    font-size: 1.55rem;
}
.fa-bars {
    color: #F9FBFB;
}
.fa-kiwi-bird {
    font-size: 3rem;
    margin-right: 10px;
}
.hero {
    height: 250px;
    background: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/assets/images/outside.svg);
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}
.hero-list, .hero-two-text {
    font-family: 'Rubik', sans-serif;
    font-size: 3.2rem;
}

#job-count-wrapper {
    font-size: 2rem;
}
#job-card-mount {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, 275px, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 1rem;
    grid-auto-rows: auto;
    justify-items: center;
}
.job-board {
    margin-bottom: 60px;
    
}
.job-board-wrapper {
    min-height: 235px;
    background-color: #f9fbfb;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.12'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.card {
    margin: 1rem;
    justify-content: space-between;
    min-height: 230px;
    background-color: #F9FBFB;
    border: 0;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: 2px;
    border-top: 6px solid #2A2E44;
}
.card-subtitle {
    margin-bottom: 1rem;
}
.card-text {
    font-size: 1.5rem;
}
.btn {
    width: fit-content;  
}
.btn-primary {
    color: #F9FBFB;
    background-color: #DB4949;
    border: #DB4949;
}
.btn:hover {
    color: #F9FBFB;
    background-color: #2A2E44;
    border-color: #2A2E44;
}

.hero-two {
    background-image: url(/assets/images/catandfriend.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    margin-bottom: 35px;
    /* text alignment */
    display: flex;
    justify-content: flex-end;
}
.hero-two-text {
    padding-top: 43px;
}

footer {
    font-family: 'Rubik', serif;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #DB4949;
    color: #F9FBFB;
    box-shadow: inset rgba(0, 0, 0, 0.42) 0px 10px 20px -12px, rgba(0, 0, 0, 0.12) 0px 3px 20px 0px, rgba(0, 0, 0, 0.2) 0px 8px 10px -5px;
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
}
/* Account page styling */

.account-buttons-wrapper {
    margin-bottom: 50px;    
}
.add-job-link:hover,
.add-job-link:focus {
        text-decoration: underline;
        color: #2A2E44;
}
.account-hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
}   
.account-hero-image {
    background-image: url(/assets/images/account-profile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 300px;
}
@media only screen and (max-width: 600px) {
    .account-hero-image {
        display: none;
    }
}

.btn-link {
    color: #2A2E44;
}
.btn-link:hover {
    text-decoration: none;
}

/* add job styling */
.add-job-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 35px;
}
.form-hero {
    background-image: url(/assets/images/form.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 300px;
    margin-left: 2rem;
}
@media only screen and (max-width: 600px) {
    .add-job-wrapper {
        display: block;
    }
    .form-hero {
        margin: 0;
    }
    .form-wrapper {
        margin-bottom: 35px;
    }
}
